*{
    margin: 0px;
    padding: 0px;
    
}
.navber{
    height: 60px;
    width: 100%;
    background-color: #2c3434;
    display: flex;
}
.img{
    height: 60px;
    width: 113px;
    display: flex;
    background-image: url(amazon.png);
    background-size: cover;
}
.address{
    height: 60px;
    width: 88.50px;
}
#location{
    height: 18px ;
    width: 15px;
    display: flex;
    align-items:end;
    color: aliceblue;
    /* margin: 5px 2px 5px 0px;
    padding: 0px 9px; */
}
.deliver{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    height: 14px;
    width: 52.14px;
    margin-left: 15px;
}
.india{
    height: 16px;
    width: 52.22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 0px 0px 0px 15px;
}